@{
    ViewData["Title"] = "Tareas";
}

@model ListarTareasViewModel
@using kanban.ViewModels


<h2 text-aling:center>Listado de Tareas</h2>

<nav>
    <ul>
        <li>
             <a asp-controller="Tarea" asp-action="CrearTarea">Crear Tarea</a>
        </li>
    </ul>
</nav>

<table class="table table-dark">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Id Tablero</th>
            <th>Id usuario asign.</th>
            <th>Nombre</th>
            <th>Color</th>
            <th>Estado</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Tarea in Model.ListarTareasVM)
        {
            <tr>
                <td hidden>@Tarea.Id_tarea</td>
                <td>@Tarea.Id_Tablero</td>
                <td>@Tarea.Id_Usuario_Asingnado</td>
                <td>@Tarea.Nombre</td>
                <td>@Tarea.Color</td>
                <td>@Tarea.Estado</td>
                <td>@Tarea.Descripcion</td>
                <td>
                    <a asp-controller="Tarea" asp-action="ActualizarTarea" asp-route-idTarea="@Tarea.Id_tarea">Editar</a>
                    <a asp-controller="Tarea" asp-action="Eliminar" asp-route-idTarea="@Tarea.Id_tarea"
                        onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>