@model ActualizarTableroViewModel
@using kanban.ViewModels
@{ViewData["title"]="Actualizar Tablero";}

<h1 class="text-center">Actualizar Tablero</h1>
<section>
    <article>
        @if (String.IsNullOrEmpty(Model.Nombre) || Model.Id == 0)
        {
           <p><strong>ERROR 404</strong></p>
        }else{
            <form asp-controller="Tablero" asp-action="ActualizarTablero" method="post" class="form-view">
                <label class="form-label">Nombre</label>
                <input asp-for="@Model.Nombre" value="@Model.Nombre" class="form-control">

                <label class="form-label">Id usuario Propietario</label>
                <input asp-for="@Model.IdUsuarioPropietario" value="@Model.IdUsuarioPropietario" class="form-control">

                <label class="form-label">Descripcion</label>
                <input asp-for="@Model.Descripcion" value="@Model.Descripcion" class="form-control">

                <input hidden asp-for="@Model.Id">
                <input type="submit" class="btn btn-outline-success">
            </form>
        }
    </article>
</section>