@{
    ViewData["Title"] = "Tableros";
}

@model List<Tablero>
@using Models


<h2 text-aling:center>Listado de Tableros</h2>

<nav>
    <ul>
        <li>
             <a asp-controller="Tablero" asp-action="CrearTablero">Crear Tablero</a>
        </li>
    </ul>
</nav>

<table class="table table-dark">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Nombre</th>
            <th>Id usuario propietario</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Tablero in Model)
        {
            <tr>
                <td hidden>@Tablero.Id</td>
                <td>@Tablero.Nombre</td>
                <td>@Tablero.Id_usuario_propietario</td>
                <td>@Tablero.Descripcion</td>
                <td>
                    <a asp-controller="Tablero" asp-action="ActualizarTablero" asp-route-idTablero="@Tablero.Id">Editar</a>
                    <a asp-controller="Tablero" asp-action="Eliminar" asp-route-idTablero="@Tablero.Id"
                        onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>